fastapi
uvicorn
openai
requests
python-dotenv
sqlalchemy
pydantic
python-multipart
psycopg2-binary
numpy
opencv-python-headless
PyWavelets
scipy
pyzbar
bcrypt
python-jose[cryptography]
email-validator
google-auth
